@model HomeViewModel

<h1>Лучшие товары</h1>
<div class="row mt-5 mb-2">
    @{
        foreach (Product prod in Model.FavProducts)
        {
            @Html.Partial("AllProducts", prod)
        }
    }
</div>
